@charset "utf-8";
/* CSS Document */
*{
    margin:0;
    padding:0;
    border:0;
    font-size:14px;
    font-family:"Microsoft YaHei",微软雅黑,"Microsoft JhengHei",华文细黑,STHeiti,MingLiu;
    }
.all{
    margin:auto;
    background-color:#fff;
    width:1000px;
    }
a{
    text-decoration:none;
    color:#000;
    }
a:hover{
    color:#fab969;
    }
